click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
matplotlib==3.3.3
numpy==1.19.4
packaging==20.7
pandas==1.1.4
passlib==1.7.4
requests==2.25.0
scikit-learn==0.23.2
scipy==1.5.4
urllib3==1.26.2
virtualenv==20.2.2
Werkzeug==1.0.1
