<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel= "stylesheet" type="text/css "href = "../static/styles/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
	<link rel="shortcut icon" href="{{url_for('static', filename='photos/favicon.ico')}}">
</head>
<body>
{% include 'nav.html' %}
{% block content %}
{% endblock %}
<br><br><br><br><br>
<font color="white"><h1 align="center">Sorry, an error occurred. Please try again.</h1></font>
<div class="footerpage">{% include 'footer.html' %}</div>
</body>
</html>