<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results!</title>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    <link rel= "stylesheet" type="text/css "href = "../static/styles/styles.css">
	<link rel="shortcut icon" href="{{url_for('static', filename='photos/favicon.ico')}}">
</head>
<body>
		{% include 'nav.html' %}
        {% block content %}
        {% endblock %}
      <br><br><br>

        <center>
            {%if prediction==1%}
            Yes
            {%elif prediction==0%}
            No
            {%endif%}
            <br><br><br><a class = "btn" href = "/fakereviews">Go back</a>
        </center>
</body>
</html>