<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facts-And-Fakes - Fake Review Detector</title>
	<link rel= "stylesheet" type="text/css "href = "../static/styles/styles.css">
</head>
<body>

		<div class="topnav">
			  <a class="active" href="/">Home</a>
			<a href = "{{url_for('home')}}">Fake News Predictor</a>
  <a href="{{url_for('fakereviews')}}">Fake Review Predictor</a>
  <a href="#contact">Contact</a>
  <a href="https://aryaman-das.github.io/Facts-And-Fakes/">About</a>
			<a href="https://github.com/Aryaman-Das/Facts-And-Fakes">View On GitHub</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</div>
		<br>
		<br>

		<div class = 'space'>
		</div>
		<div class="ml-container">
		<form action="{{url_for('fakereviewresults')}}" method="POST">
		<strong><p class = 'newshere' align = 'center' style = "color:black; text-shadow: 1px 1px;">Text:</p></strong>
		<textarea class = 'comment' name="message" rows="4" cols="50" align = 'center'></textarea>
		<br>
		<strong><p class = 'newshere' align = 'center' style = "color:black; text-shadow = 1px 1px;">Source (any site name)(if you know)</p></strong>
		<textarea name="source" class = "source" rows="1" cols="100" maxlength = '100'></textarea>
		<br>
		<strong><p class = 'newshere' align = 'center' style = "color:black; text-shadow = 1px 1px;" > Date of publishing IN DD-MM-YYYY FORMAT (if you know)</p></strong>
		<textarea name="date" class = 'date' rows="1" cols="10" maxlength = '10'></textarea>
		<br>
		<br>
		<input type="submit" class="btn" value="Predict!">
        </form>
        </div>
</body>
</html>