<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" href = "../static/styles/styles.css">
    <link rel="stylesheet" href="../static/webfonts/all.css">
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Alatsi' rel='stylesheet'>
</head>
<body><center>
<div class="foot">
    <div class="column">
        <h4> GitHub: &nbsp;<a class="btn3" href="https://github.com/Aryaman-Das/HealthFacts"><i class="fab fa-github"></i></a>
         <br> Blog: &nbsp;<a class="btn3" href="https://aryaman-das.github.io/HealthFacts/"><i class="fab fa-github"></i></a></h4>
    </div>
    <div class="column">
        <h4>Useful links:<br><a href="/fakenews">FakeNewsDetection</a><br><a href="/questions">Health Questions</a><br>
        <a href="https://github.com/Aryaman-Das/HealthFacts/discussions">GitHub Discussions</a><br><a href="https://github.com/Aryaman-Das/HealthFacts/wiki">Wiki on GitHub</a><br> </h4>
    </div>
    <div class="column">
        <h4>Technologies used:<br><a href="https://palletsprojects.com/p/flask/">Flask</a><br>HTML, CSS, JS<br><a href="https://scikit-learn.org/stable/">Scikit-Learn</a><br><a href="https://pypi.org/project/beautifulsoup4/">BeautifulSoup4</a> </h4>
    </div>
</div>
<div class="end">HealthFacts is maintained and developed as part of another project - Facts and Fakes. <a href="https://aryaman-das.github.io/HealthFacts/">Learn more</a> </div>
</center>
</body>
</html>