<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
	<link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
	<link rel= "stylesheet" type="text/css " href = "../static/styles/styles.css">
	<link rel="shortcut icon" href="{{url_for('static', filename='photos/favicon.ico')}}">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
	<div class="background">
		{% include 'nav.html' %}
		{% block content %}
		{% endblock %}
	<br>
	<br>
	<br>
	<br>
		<div class="quote">
		<p class="note">Welcome to Facts and Fakes!<br>
The internet has become a popular and fast way of spreading news. However, it has also enabled the spread of false information, to be even faster.<br>Facts and Fakes is a site dedicated to help in solving this. Click any of the links above to get started!</p>
	<br>
	<br>
	<br>
	<br>
		<br>
		<br><br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
			<br>
			<br>
			</div>
	<div id="footer"></div>
	<script>
    $("#footer").load("footer.html");
</script></div>
</body>
</html>