<!DOCTYPE html>
<html>
<head>
	<title>Facts and Fakes</title>
	<link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
	<link rel= "stylesheet" type="text/css " href = "../static/styles/styles.css">
	<link rel="shortcut icon" href="{{url_for('static', filename='photos/favicon.ico')}}">

</head>
<body>
		<div class="container">

		{% include 'nav.html' %}
		{% block content %}
		{% endblock %}
			<div class="background"></div>
<br><br>
</div>
		<br>
		<br>
		<br>

		<div class = 'space'>
		</div>
		<div class="ml-container">

		<form action="{{ url_for('predictFake')}}" method="POST">
		<strong><p class="newshere">&nbsp;&nbsp;&nbsp;Enter The News Headline Here:&nbsp;&nbsp;&nbsp;</p></strong><br>
		<textarea placeholder="Example: Does 5G spread COVID 19?" class = 'comment' name="message" rows="7" cols="75" align = 'center' required></textarea>
		<br><p class = 'newshere'>&nbsp;&nbsp;&nbsp; Source website (optional)&nbsp;&nbsp;&nbsp;</p><br>
		<input type="text" name="source" class = "username" maxlength = '100' placeholder="Example: some-website.com">

		<br><br><br>

		<input type="submit" class="btn" value="Predict!">
		</form>


		</div>

</body>
</html>