<!DOCTYPE html>
<html>
<head>
	<title>Facts and Fakes</title>
	<link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
	<link rel= "stylesheet" type="text/css " href = "../static/styles/styles.css">
	<link rel="shortcut icon" href="{{url_for('static', filename='photos/favicon.ico')}}">

</head>
<body>
		<div class="container">

		{% include 'nav.html' %}
		{% block content %}
		{% endblock %}
<br><br>
</div>
		<br>
		<br>
		<br>

		<div class = 'space'>
		</div>
		<div class="ml-container">

		<form action="{{ url_for('predictFake')}}" method="POST">
		<strong><p class="newshere">Enter The News Headline Here:</p></strong>
		<textarea class = 'comment' name="message" rows="7" cols="75" align = 'center'></textarea>
		<br><p class = 'newshere'> Source website (optional)</p>
		<input type="text" name="source" class = "source" maxlength = '100' placeholder="Source website">
		<br>
		<br>
		<input type="submit" class="btn" value="Predict!">
		</form>
		</div>

</body>
</html>