<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logged out</title>
    <link rel= "stylesheet" type="text/css "href = "../static/styles/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
	<link rel="shortcut icon" href="{{url_for('static', filename='photos/favicon.ico')}}">
</head>
<body>
{% include 'nav.html' %}
{% block content %}
{% endblock %}
<br>
<br>
<br>
<br>
<font color="white"><h1 align = "center">You have been logged out.</h1></font>
</body>
</html>