<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    	<link rel= "stylesheet" type="text/css " href = "../static/styles/styles.css">
	<link rel="shortcut icon" href="{{url_for('static', filename='photos/favicon.ico')}}">
</head>
<body>
		{% include 'nav.html' %}
		{% block content %}

        <br>
        <br>
        <br>
        <br>
    <h1 class="title" align = "center">Log in to Facts and Fakes!</h1>
        <form method="POST" action={{url_for('login')}}>
            <center>
            <input class="username" type="text" name="username" placeholder="Your Username"><br><br>
            <input class="password" type="password" name="password" placeholder="Your Password"><br><br>
            <button class="btn">Login</button>
                <h4>New user? <a href="/signup">Sign up now!</a></h4>
                </center>
        </form>
{% endblock %}
</body>
</html>