<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" href = "../static/styles/styles.css">
    <link rel="stylesheet" href="../static/webfonts/all.css">
    <link href='https://fonts.googleapis.com/css?family=Alatsi' rel='stylesheet'>

</head>
<body>
        <div class="topnav">
            <a class="active" href="/">&nbsp;&nbsp;&nbsp;<img src="{{url_for('static', filename='photos/factsandfakeslogo.png')}}" height="20" width="80" align="center">&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href = "{{url_for('home')}}">Fake News Detection&nbsp;&nbsp;&nbsp;</a>
            <a href="/questions"><i class="fas fa-question-circle"></i>&nbsp;&nbsp;&nbsp;Health questions</a>
            <a href="https://github.com/Aryaman-Das/HealthFacts/discussions"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;&nbsp;Discussions</a>
            <a href="https://aryaman-das.github.io/HealthFacts/"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;&nbsp;About</a>
			<a href="https://github.com/Aryaman-Das/HealthFacts"><i class="fab fa-github"></i>&nbsp;&nbsp;&nbsp;GitHub</a>
            {%if session.get("logged_in") == False%}
                <a href="{{url_for('login')}}"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;&nbsp;Log in</a>
                <a href="{{url_for('signup')}}"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;&nbsp;Sign up</a>
            {%else%}
                <a href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp;Log out</a>
                <a href="{{url_for('profile')}}"><i class="fas fa-user-alt"></i>&nbsp;&nbsp;&nbsp;Profile</a>
            {%endif%}
            <a href="https://github.com/Aryaman-Das/HealthFacts/wiki"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;&nbsp;FAQs</a>
            <a href="https://github.com/Aryaman-Das/HealthFacts">Contact</a>

        </div>
</body>
</html>