<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" href = "../static/styles/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Alatsi' rel='stylesheet'>

</head>
<body>
        <div class="topnav">
			<a href = "{{url_for('home')}}">Fake News Detector</a>
            <a href="{{url_for('fakereviews')}}">Fake Reviews Detector</a>
            <a href="{{url_for('spam')}}">Spam Detection</a>
            <a href="https://aryaman-das.github.io/FactsAndFakes/">Learn to use</a>
            <a class="active" href="/"><img src="{{url_for('static', filename='photos/factsandfakeslogo.png')}}" height="20" width="80" align="center"></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://aryaman-das.github.io/FactsAndFakes/">About Facts and Fakes</a>
			<a href="https://github.com/Aryaman-Das/FactsAndFakes">View On GitHub</a>
            {%if session.get("logged_in") == False%}
                <a href="{{url_for('login')}}">Log in</a>
                <a href="{{url_for('signup')}}">Sign up</a>
            {%else%}
                <a href="{{url_for('logout')}}">Log out</a>
                <a href="{{url_for('profile')}}">Profile</a>
            {%endif%}
            <a href="https://aryaman-das.github.io/FactsAndFakes/">Blog</a>

        </div>
</body>
</html>