<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up!</title>
    	<link rel= "stylesheet" type="text/css " href = "../static/styles/styles.css">
	<link rel="shortcut icon" href="{{url_for('static', filename='photos/favicon.ico')}}">
</head>
<body>

		{% include 'nav.html' %}
		{% block content %}
<br>
        <br>
        <br>
        <br>
    <h1 class="title" align = "center">Sign Up</h1>
        <form method="POST" action={{url_for("signup_done")}}>
            <center>
            <input type="text" name="username" placeholder="Username"><br><br>
            <input class = "password" type="password" name="password" placeholder="Password"><br><br>
            <button class="btn">Sign Up</button>
                </center>
        </form>

{% endblock %}
</body>
</html>