<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up!</title>
    	<link rel= "stylesheet" type="text/css " href = "../static/styles/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
	<link rel="shortcut icon" href="{{url_for('static', filename='photos/favicon.ico')}}">
</head>
<body>

		{% include 'nav.html' %}
		{% block content %}
        <div class="background"></div>
<br>
        <br>
        <br>
        <br>
    <h1 class="title" align = "center">Sign Up</h1>
        <form method="POST" action={{url_for("signup_done")}}>
            <center>
                {%if signup_failed == True%}

                <font color="red"><h5 align="center">Username not available</h5></font>
                {%endif%}
                <i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp; <input type="text" class="username" name="username" placeholder="Username"><br><br>
               <i class="fas fa-key"></i>&nbsp;&nbsp;&nbsp;<input class = "password" type="password" name="password" placeholder="Password"><br><br>
            <button class="btn">Sign Up</button>
                <h4>Already a user? <a href="/login">Log in!</a></h4>

                </center>
        </form>
<br>
	<br><br>
	<br>
	<br><br>
	<br>
	<br><br>
	<br>
{% endblock %}
</body>
</html>