html,body { height:120%; }
body{
	font-family: Acme;
	padding: 0px;
	background-color:#ffffff;
	background-image: url(../photos/pic.jpg);
	backdrop-filter: blur(25px);
	margin-left: 0px;
	margin-right: 0px;
}

.eighty.start {
    width: 0px;
    background: #aae0aa;
    -webkit-animation: eighty 2s ease-out forwards;
       -moz-animation: eighty 2s ease-out forwards;
        -ms-animation: eighty 2s ease-out forwards;
         -o-animation: eighty 2s ease-out forwards;
            animation: eighty 2s ease-out forwards;
}

.h1{
    position: fixed;
    font-family: Acme;
    color: white;
}
* {
  box-sizing: border-box;
}

.container{
	width:100%;
	text-align: center;
}


.topnav {
  background-color: black;
  overflow: hidden;
  position: fixed;
  margin-top: -8px;
  width: 100%;
  margin-left: -7px;
  font-family: Alatsi;

}

.qgohere{
border-radius: 3px;
font-family: Acme;
  background: rgba(0,0,0,0.5);
  color: white;
  display: inline-block;
  padding: 10px;
}

#showOnHover{
background: rgba(0,0,0,0.6);
border-radius: 15px;
  transition: all 0.5s ease 0.3s;
  display: none;
  margin-left: 500px;
  font-family: Alatsi;

  margin-right: 500px;
  color: white;
}


#showOnHover2{
background: rgba(0,0,0,0.6);
border-radius: 15px;
font-family: Alatsi;
  transition: all 0.5s ease 0.3s;
  display: none;
  margin-left: 500px;
  margin-right: 500px;
  color: white;
}

.help{
color: #ffffff ;
text-decoration: none;
padding: 5px;
background: #000000;
border-radius: 3px;
text-align: center;
display: inline-block;
border: 3px;
animation: bounce;
animation-duration: 2s;
animation-delay: 1s;
transition: all 0.1s ease 0.1s;
}

.username{
  width: 150px;
  box-sizing: border-box;
  font-family: Acme;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  width: 25%;!important
}

.username:focus {
  width: 30%;!important
}

.report {
    visible: none;
}

textarea{
  width: 50%;
  box-sizing: border-box;
  font-family: Acme;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  transition: width 0.4s ease-in-out;
  padding: 0;
  resize: none;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  font-family: Alatsi;
  /*animation: fadeInUp;
  animation-duration: 3s;
  --animate-delay: 5s;*/
}

.end{
  margin-top: 0px;
  text-align:center;
  margin-bottom: 10px;
  background-color: rgba(0,0,0,0.9);
  color: white;
}

.what-we-do{
  background-color: rgba(0,0,0,0.7);
  color:white;
}

/* Clear floats after the columns */
.what-we-do:after {
  content: "";
  display: table;
  clear: both;
}

.foot{
  background-color: rgba(0,0,0,1.0);
  color: white;
}

.footerpage{
position: absolute;
width: 100%;
  bottom: 0;
}

/* Clear floats after the columns */
.foot:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

.home-img{
  background-image: url(../photos/home-img.jpg);
  backdrop-filter: blur(25px);
  background-repeat: no-repeat;
}

textarea: focus{
    width: 25%;!important

}

.note-heading {
  color: #ffffff;
  margin: 5vw;
  padding: 0.5em;
  border-left: 0.5em solid #52e052;
  margin-left: 80px;
  margin-right: 80px;
  background:rgba(0,0,0,0.5);
  font-size: 20px;
  text-align: center;
}

.footer{
background-color: black;
margin-top:-10px;

}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


.footer:after {
  content: "";
  display: table;
  clear: both;
}

.links{
  .note {
  color: #ffffff;
  padding: 0.5em;
  background:rgba(0,0,0,0.5);
  font-family: Alatsi;
  text-align: center;

}

}

.note {
  color: #ffffff;
  margin: 5vw;
  padding: 0.5em;
  border-left: 0.5em solid #52e052;
  margin-left: 300px;
margin-right: 300px;
  background:rgba(0,0,0,0.5);
  font-size: 40px;
  font-family: Acme;
  text-align: center;

}

.note a {
  text-decoration: none;
  color: #ffffff;
}

.note a:hover {
  text-decoration: underline;
}

.result{
  color: #ffffff;
  margin: 5vw;
  padding: 0.5em;
  border-left: 0.5em solid #52e052;
  margin-left: 200px;
  margin-right: 200px;
  background:rgba(0,0,0,0.5);
  font-size: 20px;
  font-family: Acme;
  text-align: center;
}

.title {
  color: white;
}


.note {
z-index:9999;
}
.password{
  width: 200px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-family: Acme;
  font-size: 16px;
  font-color: #000000;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  width: 25%;!important
}

.password:focus {
  width: 30%;!important
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;


}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  transition: all 0.4s ease 0s;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.about{
  float: left;
  text-align:center;
  background-color: black;
  font-family: Alatsi;
  color: white;
  width: 30%;
  margin-left: 50px;
}
.about2{
  float: left;
  text-align:center;
  background-color: black;
  font-family: Alatsi;
  color: white;
  width: 33%;
  margin-left: 43px;
}
.about3{
  float: right;
  text-align:center;
  background-color: black;
  font-family: Alatsi;
  color: white;
  width: 30%;
  margin-left: 1px;
}
.comment {
        width: 200px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        font-size: 16px;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;
        width: 25%;!important
        font-family: Acme;
    	-webkit-border-radius: 10px;
    	-moz-border-radius: 10px;
    	border-radius: 10px;
        background-color: #d0e2bf;
        color: #000000;
        transition: width 0.4s ease-in-out;
        resize: none;

.comment:focus {
  width: 50%;!important
}
}
.date {
        background-color: #d0e2bf;
        color: #ffffff;
	-webkit-border-radius: 10px;
    	-moz-border-radius: 10px;
    	border-radius: 10px;
    	font-family: Acme;
}
.source {
        background-color: #d0e2bf;
        color: #ffffff;
	-webkit-border-radius: 10px;
    	-moz-border-radius: 10px;
    	border-radius: 10px;
    	font-family: Acme;
}

.newshere {
    display:inline-block;
	font: 20px/1.0 Georgia, sans-serif;
	background:rgba(0,0,0,0.5);
	border-radius: 2px;
	backdrop-opacity: 0.2;
	text-align:center;
	font-family: Acme;
	color: #ffffff;
	animation: fadeIn;
	animation-duration: 3s;

}


.ml-container{
text-align: center;}

.go-back{
	text-align: center;
}

.table {
	text-align: center;
}

.h2{
    color: white;
    font-family: Acme;
}

p {
    color:white;
    font-family: Alatsi;
    background: white;
}

.btn {
color: #ffffff ;
text-decoration: none;
background: #3357FF;
padding: 20px;
border-radius: 5px;
text-align: center;
display: inline-block;
border: 2px;
}


.btn:hover {
background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.btn2 {
color: #ffffff ;
text-decoration: none;
padding: 10px;
background: #ff0000;
border-radius: 3px;
text-align: center;
display: inline-block;
border: 3px;
transition: all 0.1s ease 0.1s;
}


.btn2:hover {
background: #434343;
letter-spacing: 1px;
transition: all 0.4s ease 0s;
}

.btn3{
color: #ffffff ;
text-decoration: none;
padding: 8px;
background: #000000;
border-radius: 3px;
text-align: center;
display: inline-block;
border: 3px;
transition: all 0.1s ease 0.1s;
}

.btn3:hover {
background: #434343;
letter-spacing: 1px;
transition: all 0.4s ease 0s;
}