html,body { height:100%; }
body{
	font-family: Acme;
	padding: 0px;
	background-color:#ffffff;
	background-image: url(../photos/pic.jpg);
	backdrop-filter: blur(25px);
	margin-left: 0px;
	margin-right: 0px;
}

.h1{
    position: fixed;
    font-family: Acme;
}
* {
  box-sizing: border-box;
}

.container{
	width:100%;
	text-align: center;
}


.topnav {
  background-color: black;
  overflow: hidden;
  position: fixed;
  margin-top: -8px;
  width: 100%;
  margin-left: -7px;
  font-family: Alatsi;

}

input[type=text]{
  width: 150px;
  box-sizing: border-box;
  font-family: Acme;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  width: 25%;!important
}

.note {
  margin: 5vw;
  padding: 0.5em;
  border-left: 0.5em solid #52e052;
  margin-left: 80px;
margin-right: 80px;
  background-color:#f2f2f2;
  font-size: 20px;
  text-align: center;
}

.note a {
  text-decoration: none;
  color: #161b1e;
}

.note a:hover {
  text-decoration: underline;
}
.quote{

}

input[type=text]:focus {
  width: 30%;!important
}

.note {
z-index:9999;
}
.password{
  width: 200px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-family: Acme;
  font-size: 16px;
  font-color: #000000;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  width: 25%;!important
}

.password:focus {
  width: 30%;!important
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;


}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  transition: all 0.4s ease 0s;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


.comment {
        width: 200px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        font-size: 16px;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;
        width: 25%;!important
        font-family: Acme;
    	-webkit-border-radius: 10px;
    	-moz-border-radius: 10px;
    	border-radius: 10px;
        background-color: #d0e2bf;
        color: #000000;
        transition: width 0.4s ease-in-out;
        resize: none;

.comment:focus {
  width: 50%;!important
}
}
.date {
        background-color: #d0e2bf;
        color: #ffffff;
	-webkit-border-radius: 10px;
    	-moz-border-radius: 10px;
    	border-radius: 10px;
    	font-family: Acme;
}
.source {
        background-color: #d0e2bf;
        color: #ffffff;
	-webkit-border-radius: 10px;
    	-moz-border-radius: 10px;
    	border-radius: 10px;
    	font-family: Acme;
}

.newshere {
	font: 20px/1.0 Georgia, sans-serif;
	text-align:center;
	font-family: Acme;
	color: #ffffff;

}


.ml-container{
text-align: center;}

.go-back{
	text-align: center;
}

.table {
	text-align: center;
}

.h2{
    color: black;
    font-family: Acme;
}
.btn {
color: #ffffff ;
text-decoration: none;
background: #ed3330;
padding: 20px;
border-radius: 5px;
text-align: center;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}


.btn:hover {
background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}
